@import '../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border: 1px solid $blackSuperLight;
  border-radius: 5px;
  padding: 13px 15px;
  font-size: 13px;
  font-weight: 500;
  transition: $hoverTransition;
  cursor: pointer;

  &:hover {
    background-color: rgb(250, 250, 250);
  }

  &.active {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
  }
}