.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(52, 49, 47, 0.1);
  border-radius: 5px;
  padding: 13px 15px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.15s ease;
  cursor: pointer;

  svg {
    color: rgba(52, 49, 47, 1);
  }


  &:hover {
    background-color: rgba(52, 49, 47, 1);
    color: rgb(255, 255, 255);
    svg {
      color: rgb(255, 255, 255);
    }
  }
}