@import '../../styles/variables.scss';

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: 13px 15px;
  font-size: 13px;
  font-weight: 400;
  transition: $hoverTransition;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $blackDark;
  }

  &:active {
    background-color: $blackLight;
  }
}