$blackDark: rgb(48, 45, 43);
$black: rgb(52, 49, 47);
$blackSuperLight: rgb(240, 240, 240);
$blackMediumLight: rgb(210, 210, 210);
$blackLight: rgba(52, 49, 47, 0.8);
$white: rgba(255, 255, 255, 1);
$sortActive: rgb(242,248,242);

$hoverTransition: 0.15s ease;
