.profile {
  display: flex;
  margin-left: auto;

  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 55px;
    justify-content: center;
    padding-right: 10px;

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;
      color: (0, 0, 0, 1);
      margin-left: auto;
    }

    .balance {
      font-weight: 500;
      color: #888888;
    }
  }

  .avatar {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: #888888;
  }
}