@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 70px;
  padding: 0 10px;

  .logo {
    color: rgba(52, 49, 47, 1);
    cursor: pointer;
  }


  .navigation {
    margin-left: 3%;

    .link {
      color: $black;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      text-decoration: none;
      margin-right: 20px;
      margin-left: 20px;
      cursor: pointer;

      &:hover {
        transition: 0.15s ease;
        color: $blackLight;
      }

      &.active {
        color: $blackLight;
      }
    }
  }

  .profile {
    width: fit-content;
    margin-left: auto;
  }



}

@media only screen and (max-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 28px;
    }

    .navigation {
      z-index: 2;
      background-color: $white;
      margin: 0;
      display: none;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;

      .link {
        display: flex;
        flex-direction: column;
        padding: 18px 10px;
        border-top: 1px solid $blackSuperLight;
        margin: 0;

        &.active {
          color: $black;
        }
      }

      border-bottom: 1px solid $blackSuperLight;

      &.active {
        display: block;
        transition: $hoverTransition;
      }
    }

    .profile {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}

