@import '../styles/variables.scss';

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 10px;

}

h1 {
  margin: 0;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: $black;
}